// Colors
$primary-light: hsl(225, 100%, 94%);
$primary-dark: hsl(245, 75%, 52%);

$secondary-pale: hsl(225, 100%, 98%);
$secondary-desaturated: hsl(224, 23%, 55%);
$secondary-dark: hsl(223, 47%, 23%);
