// Colors
$primary-light: hsl(225, 100%, 94%);
$primary-dark: hsl(245, 75%, 52%);
$primary-purple-light: hsl(245, 68%, 61%);

$secondary-pale: hsl(225, 100%, 98%);
$secondary-desaturated: hsl(224, 23%, 55%);
$secondary-dark: hsl(223, 47%, 23%);

$color-gray-light: rgba(240, 240, 250);
$color-gray: rgb(150, 150, 150);
$color-gray-2: rgb(120, 120, 120);
$color-gray-3: rgb(60, 60, 60);
