// Contains styles specific to the homepage

body {
  background-color: $color-tertiary;
  width: 100%;
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 325px;
}
