// Contains styles specific to the homepage

body {
  background-color: $color-tertiary;
  width: 100%;
  padding: 8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

main {
  @media only screen and (max-width: 1199px) {
    width: 325px;
  }

  @media only screen and (min-width: 1200px) {
    max-width: 1440px;
  }
}
