// This file contains all of your basic styles.
@use "../abstracts/variables";

// Set up box sizing on the root and set to inherit.
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

// Link styling
a {
  color: $color-secondary;
  text-decoration: none;
}
