@use "../abstracts" as *;

html {
  background-image: url(../images/pattern-background-mobile.svg);
  background-color: $primary-light;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100%;
  position: relative;

  @media (min-width: 966px) {
    background-image: url(../images/pattern-background-desktop.svg);
    background-size: 100%;
  }
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding: 2rem;
}

.flex-container {
  height: 100%;
  min-width: 300px;
  max-width: 500px;
}

.footer {
  font-size: 1.2rem;
  margin-top: 1rem;
  a {
    color: $primary-dark;
  }
}
